.Basic {
  text-align: center;
}

.Body {
  min-height: 100vh;
  width: 100%;
  background-image: url('../img/background.jpg');
  padding-top: 5%;
  padding-bottom: 5%;
}

.Body-border{
  height: 100%;
  width: 80%;
  margin:0 auto;
  background-image: url('../img/inside_background.jpg');
}

